@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --bg1: #f5feff;
  --bg2: #eafdff;
  --bg-h2: #66d4ff;
  --a: #03009b;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg1);
}

body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.cntr {
  position: relative;
  background-color: var(--bg2);
  box-shadow: 3px 0 50px -30px;
  padding: 0 25px;
}
header {
  width: 30%;
}
main,
footer {
  width: 65%;
  
}

header,
main,
footer {
  margin: 25px 15px;
}
.div-header{
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
}

.nav-wrap {
  min-height: 2.5rem;
}
.header-container img {
  width:100%; 
  box-shadow: 0 0px 10px -1px var(--bg-h2);
}

.nav li {
  display: inline-block;
}

.nav a {
  margin: 0 2px;
  color: var(--a);
  line-height: 100%;
  font-size: .75rem;
}
.nav a:hover {
  background-color: var(--a);
  color: var(--bg1);
  border-radius: 3px;
}

.nav .menu a {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--a);
}

h1, 
h2 {
  font-family: 'Helvetica';
}

h1,
h3 {
  color: var(--bg-h2);
  transform: skew(353deg);
  text-shadow: 1px 0px 1px var(--black);
}

h1 {
  margin-top: 15px;
}

h2 {
  padding: 0 0 0 30px;
  background: linear-gradient(to left, var(--bg2), var(--bg-h2) 100%);
  transform: skew(353deg) translateX(-10px);
  color: var(--bg1);
  text-shadow: 2px 0px 2px var(--a);
}

h4 {
  margin: 5px 0 0 -10px;
}

h6 {
  margin-bottom: 1rem;
}

.h1 {
  flex-grow: 5;
  text-align: center;
  margin: 5% 0;
}
.sp-h {
  font-size: 1rem;
  font-weight: 200;
}

.img-span {
  top: 5px;
  height: 1.5rem;
}

section {
  margin-bottom: 50px;
}

.slider,
.whack {
  width: 98%;
}

.video {
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.video iframe {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 0;
}

pre {
  font-size: .5rem;
}

footer {
  min-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  font-size: small;
}

footer img {
  background-repeat: no-repeat;
  height: 30px;
}

@media screen and (min-width: 550px) {
  .cntr {
    width: 75%;
  }
}

@media screen and (min-width: 256px) and (max-width: 550px) {
  .cntr {
    width: 90%;
    box-shadow: 3px 0 50px -30px;
  }
  .header-container {
    flex-direction: column;
    justify-content: center;
  }
  .header-container img {
    width: 80%;
    margin: 0 10%;
    border-radius: 2%;
  }
  h2 {
    padding: 0 0 0 30px;
    transform: skew(353deg) translateX(-50px);
  }
}

@media screen and (max-width: 800px){
  header,
  main,
  footer {
    width: 100%;
  }

  .nav {
    position: relative;
  }
  .nav ul {
    top: 0;
    left: 0;
    width: 180px;
    position: absolute;
    background: var(--bg2);
    z-index: 1;
  }
  .nav ul:hover li {
    display: block;
    margin: 0 0 5px;
  }
  .nav li {
    display: none;
  }
  .nav .menu {
    display: block;
  }
  .nav .menu a {
    display: block;
    background: var(--bg-h1);
    color: var(--a);
  }
  .nav .menu a::before {
    margin-left: -15px;
    content: "\2630   ";
  }  
  .nav a {
    display: block;
    padding: 5px 0 5px 20px;
    text-align: left;
    font-size: 1rem;
  }
  .container {
    flex-direction: column;
}
  .about,
  .projects {
    flex-direction: column;
  }
  .about > div,
  .projects > div {
    width: 100%;
  }
}